{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-2">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Completed</th><th>Mark Complete</th><th>Delete</th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    {% if todo.is_completed %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove "></span>
                    {% endif %}
                </td>
                <td>
                    {% if not todo.is_completed %}
                        <form method="post" action="{{ url_for('todo_is_completed', id=todo.id) }}">
                            <button type="submit" class="btn btn-xs btn-info" onclick="return confirm('Mark the task completed?')"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Do you want to delete todo with id: {{ todo.id }}?')"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    <div class="flex">
        <div class="pull-left">
            {% if prev_url %}
            <a href="{{ prev_url }}">Previous</a>
            {% endif %}
        </div>
        <div class="pull-right">
            {% if next_url %}
            <a href="{{ next_url }}">Next</a>
            {% endif %}
        </div>
    </div>
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="5">
                    <input type="textbox"  id="desc" name="description" class="small-6 small-center" placeholder="Description..." required="true">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary" onclick="return confirm('Do you want to add a new task with description: '+document.getElementById('desc').value.toString()+ ' ?')">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}